.item {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.name {
  font-weight: 700;
  margin-right: 20px;
}

.button {
  margin-left: 20px;
}

.contactContainer {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
