.item {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.button {
    margin-left: 20px;
    height: 24px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
}